<%- include('layout/header')%> <%- include('layout/navbar')%>


<br>
<table class="table table-bordred">
    <thead>
        <tr>
            <th>Email</th>
            <th>Product</th>
            <th>Amount</th>
            <th>Cost</th>
            <th>Adress</th>
            <th>status</th>
            <th>Time</th>
            
        </tr>
    </thead>
    <tbody>
        <% for(let order of orders){%>
            <tr>
                <td><%= order.userEmail %></td>
                <td><%= order.name %></td>
                <td><%= order.amount %></td>
                <td><%= order.price %></td>
                <td><%= order.adress %></td>
                <td><%= order.status %></td>
                <td><%= order.timestamp %></td>
                
            </tr>
        <%}%>
        
    </tbody>
    
    
</table>

<%- include('layout/footer')%>